@font-face {
    font-family: ProximaBold;
    src: url('../ASSETS/ProximaNovaBold.otf');
}

*{
    font-family: 'ProximaBold';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #131913;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


/* GAME */
/* Container for the game */
.main{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

/* Container for Health, Timer, Score */
.topinfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

/* Pellet despawn timer */
#pellettimer{
    width: 24px;
    height: 24px;
    background: conic-gradient(#131913 0deg, #2BD600 0);
    border-radius: 50%;
}

/* Score */
.score{
    font-size: 21px;
    text-align: right;
    line-height: 1em;
}
#highscore{
    margin-bottom: 5px;
    color: #0E4800;
}
#currentscore{
    color: #22AA00;
}

/* Game window */
#room{
    border: 1px solid #2BD600;
}

/* Bottom Container for extra controls */
.bottominfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
/* Left half options - Help, Share */
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #22AA00;
    font-size: 24px;
    column-gap: 20px;
}
#share, #help{
    cursor: pointer;
}

/* Right Half options - Volume */
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
/* Slider itself */
#volume {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 70px; /* Set a specific slider handle width */
    height: 2px; /* Slider handle height */
    background: #22AA00; /* Green background */
    cursor: pointer; /* Cursor on hover */
    outline:none;
}

/* Slider Handle */
/* Chorme */
#volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #22AA00; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}
/* Mozilla */
#volume::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: #22AA00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* LEADERBOARD */
/* Container for the leaderboard */
.leaderboard{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: max-content;
}

/* Container for input forms */
.inputpage{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* Input Field */
.inputpage p{
    color: #22AA00;
    font-size: 25px;
}
.initials, #score{
    color: #FF8DDF;
}
.initials{
    outline: none;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #FF8DDF;
    text-align: center;
    width: 30px;
    font-size: 25px;
    text-transform:uppercase;
}

/* style prompt */
.prompt{
    color: #575757 !important;
    font-size: 20px !important;
}
.alert{
    color: #b92e2e !important;
    font-size: 20px !important;
}

/* Results Page */
.resultspage{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rank1{
    color: #FFD336;
}
#rank2{
    color: #E3E3E3;
}
#rank3{
    color: #CB5500;
}
.rank{
    width: max-content;
}
.name{
    width: max-content;
}
.scr{
    width: 40px;
}
.sep{
    padding: 20px 0;
}
.sep div{
    height: 1px;
    width: 100%;
    background: white;
}
#rankx{
    color: #575757;
}
#lb{
    font-size: 25px;
    width: 300px;
}